<mat-card>
  <form method="post" (submit)="onSubmit($event)" [formGroup]="authForm">
    <ul>
      <li *ngFor="let error of formErrors">
        {{error}}
      </li>
    </ul>
    <div class="field-container">
      <mat-form-field>
        <input matInput
               autocomplete="email"
               type="email"
               placeholder="Email"
               formControlName="username">
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <input matInput
               autocomplete="password"
               type="password"
               placeholder="Password"
               formControlName="password">
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-checkbox formControlName="remember_me">Remember me</mat-checkbox>
    </div>
    <div class="form-submit-container">
      <button matButton type="submit">
        Submit
      </button>
    </div>
  </form>
</mat-card>
